.mobile-view {
  background: $contrast-color;
  position: relative;
  display: flex;
  flex-direction: column;
  & .mobile-top-view {
    & img:nth-child(1) {
      height: 66%;
      width: 100%;
    }
    & img:nth-child(2) {
      margin-top: 27px;
    }
  }
  & .mobile-top-taxc-view {
    position: absolute;
    top: 0;
    color: $contrast-color-reflex;

    display: flex;
    left: 0;
    margin-top: 121px;
    right: 0;
    width: 80%;
    font-family: $secondary-fonts;
    font-weight: 100;
    & img {
      height: 289px;
    }
    & div {
      margin-top: 50px;
    }
    & h2 {
      font-size: 62px;
      font-weight: 300;
      margin: 0 0px 0 29px;
    }
    & h3 {
      margin: 0 0px 0 29px;
      font-size: 45px;
      font-weight: 100;
    }
    & h5 {
      margin: 0 0px 0 29px;
      font-size: 35px;
      font-weight: 100;
    }
  }
}
.mobile-middle {
  background: $contrast-color-reflex;
  margin-top: -92px;
  min-height: 200px;
  & .mobile-middle-top {
    padding: 10px 10px;
    margin-top: 13px;
    margin-bottom: 20px;
    & h2 {
      font-size: 33px;
      margin-top: 20px;
    }
    & h2,
    & h4 {
      font-family: "proxima";
      font-weight: 300;
      text-align: center;
    }
    & h4 {
      font-size: 22px;
    }
  }
}
.mobile-keolxl {
  display: flex;
  align-items: center;
  justify-content: center;
  & section {
    min-width: 129px;
    max-width: 233px;
    display: inline-block;
    text-align: center;
    margin: 10px 58px;
    & img {
      width: 90px;
    }
    & p {
      margin: 0;
      font-weight: 100;
    }
    & span {
      font-weight: bold;
      color: $phone-middle-text-colors;
    }
  }
}

.mobile-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  & .line-h {
    width: 300px;
    margin: 0 30px;
    background: $horizantal-line;
  }
  & span {
    font-size: 28px;
  }
}
.specifications {
  display: flex;
  align-items: center;
  flex-direction: column;
  & .uaweluef {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
  }
  & .iiillxla {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  & section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 425px;
    padding-left: 20px;
    margin: 0 20px;
    margin-bottom: 80px;

    & .title {
      text-align: center;
      margin-bottom: 5px;
      width: 149px;
      word-break: break-all;
    }
    & .ckek3lxhwed {
      padding-left: 30px;
      border-left: 1px solid $horizantal-line;
      margin-left: 15px;
      & .line-h {
        margin: 9px 0 !important;
        background: $horizantal-line;
        width: 60%;
      }
      & .mobile-text {
        margin-left: 40px;
        display: block;
        margin-top: 13px;
      }
    }
  }
  & img {
    width: 80px;
  }
  & .klciwemx {
    margin-top: -75px;
  }
}
.mobile-pricing {
  background: $pricing-bg;
  min-height: 500px;
  margin-top: -409px;
  border-radius: 0 0 62px 62px;
  & .pricing-cksax {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    flex-wrap: wrap;
    & section {
      background: black;
      max-width: 260px;
      border: 2px solid #e91e6363;
      padding: 15px 23px;
      border-radius: 14px;
      margin: 12px 10px;
      text-align: center;
      & a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $pricing-btn;
        margin-top: 7px;
        border-radius: 35px;
        height: 55px;
        font-size: 24px;
        color: white;
        &:hover {
          background: $pricing-btn-hover;
        }

        & div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 14px;
        }
        & img {
          width: 56%;
        }
        & .small {
          margin-right: -12px;
          margin-top: -20px;
          font-size: 17px;
          margin-left: 7px;
        }
      }
    }
  }
}
