.products {
  background: $contrast-color;
  width: 100%;
  overflow: hidden;
  & .top-view {
    position: relative;
    min-height: 80vh;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    & img {
      top: 0;
      width: 100%;
      position: absolute;
      &:nth-child(2) {
        width: 80%;
        height: 80%;
        margin-top: 12%;
        margin-left: 16%;
        transition: rot;
        transform: rotate(-14deg);
      }
    }
    & .xilcdk3e-ls5x {
      color: $product-top-text-color;
      z-index: 1;
      margin: auto;
      position: absolute;
      top: 18%;
      left: 0;
      right: 0;
      font-family: $secondary-fonts;
      display: flex;
      align-items: center;
      justify-content: center;
      & section img {
        width: 326px;
        margin-top: 35px;
        margin-left: 108px;
      }
    }
    & section {
      width: 400px;
      height: 400px;
      display: block;
      margin: 0 115px;
      &:nth-child(1) {
        margin-left: 0;
      }
      &:nth-child(2) {
        margin-right: 00px;
      }

      & h2 {
        font-size: 50px;
      }
      & h1 {
        font-size: 70px;
        font-weight: bold !important;
        text-transform: uppercase;
      }
      & h3,
      & h2 {
        font-weight: normal !important;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
      & h5 {
        font-size: 22px;
      }
      & h3 {
        font-size: 40px;
      }
      & a {
        display: inline-block;
        background: $product-top-text-color;
        color: $contrast-color;
        padding: 13px 55px;
        margin: 15px 0;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 300;
        border-radius: 3px;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  & .items {
    z-index: 10000;
    & .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 5px 2px;
      margin-bottom: 100px;
    }
    & a {
      margin: 0px 10px 40px 10px;
    }
    & section {
      background: $contrast-color;
      color: $contrast-color-reflex;
      box-shadow: $box-shadow;
      max-width: 350px;
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-radius: 32px;
      &:hover {
        @include shadow;
      }

      & .from-left {
        margin-left: 30px;
        & span {
          padding: 5px 45px;
          font-weight: 500;
          font-family: $secondary-fonts;
        }
      }
      & .center {
        display: block;
        text-align: center;
      }
      & h3,
      & h2,
      & h4 {
        font-weight: bold;
      }
      & h2 {
        font-size: 34px;
        text-transform: uppercase;
      }
      & h3 {
        font-size: 20px;
      }
      & h4 {
        font-size: 16px;
      }
      img {
        width: 70%;
      }
    }
  }
}
